Flask==0.10.1
Flask-Login==0.2.10
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.4
Jinja2==2.7.2
MarkupSafe==0.19
MySQL-python==1.2.5
SQLAlchemy==0.9.3
WTForms==1.0.5
Werkzeug==0.9.4
flask-heroku==0.1.8
fudge==1.0.3
gunicorn==18.0
itsdangerous==0.23
praw==2.1.15
psycopg2==2.5.2
python-dateutil==1.5
requests==2.2.1
simplejson==3.3.3
six==1.6.1
soundcloud==0.4.1
update-checker==0.9
urllib3==1.26.5
wsgiref==0.1.2
