{% extends 'base.html' %}
{% block content %}
{% from "_helpers.html" import render_field %}
<div class="container">
    <div class="row vertical-offset-100 starter-template">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Add a SoundCloud URL</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" method=post action="/add">
				 	{% if curr %}
			    		{{ urlform.csrf_token }}
			    	  	<div class="input-group">
			    	  		<span class="input-group-addon">URL</span>
			    		    <input class="form-control" placeholder="https://soundcloud.com/" name="url" id="url" type="text"></input>
			    		</div>
			    		<input class="btn btn-primary btn-block" type="submit" value="Preview"></input>
			    		<br/>
			    {% endif %}
			    {% if not curr %}
			    	{{ previewform.csrf_token }}
			    		<div class="input-group">
			    	  		<span class="input-group-addon"></span>
			    		    <input class="form-control" placeholder="https://soundcloud.com/" name="url" id="url" type="text"></input>
			    		</div>
			    		<div class="input-group">
			    	  		<span class="input-group-addon">Artist</span>
			    		    <input class="form-control" placeholder="https://soundcloud.com/" name="url" id="url" type="text"></input>
			    		</div>
			    		<div class="input-group">
			    	  		<span class="input-group-addon">Album</span>
			    		    <input class="form-control" placeholder="https://soundcloud.com/" name="url" id="url" type="text"></input>
			    		</div>
			    		<div class="input-group">
			    	  		<span class="input-group-addon">Genre</span>
			    		    <input class="form-control" placeholder="https://soundcloud.com/" name="url" id="url" type="text"></input>
			    		</div>
			    		<div class="input-group">
			    	  		<span class="input-group-addon">Label</span>
			    		    <input class="form-control" placeholder="https://soundcloud.com/" name="url" id="url" type="text"></input>
			    		</div>
			    		<div class="input-group">
			    	  		<span class="input-group-addon">Year</span>
			    		    <input class="form-control" placeholder="https://soundcloud.com/" name="url" id="url" type="text"></input>
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Add"></input>
				{% endif %}
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
<form accept-charset="UTF-8" role="form" method=post action="/add">
{{ sourceform.csrf_token }}
reddit.com/r/ {{ sourceform.source }}
genre: {{ sourceform.genre }}
<input class="btn" type="submit" value="Add"></input>
</form>

{% endblock %}