<!DOCTYPE html>
<html>
	<head>
		<title>Mixt.</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

		<!-- Le Stylesheets -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('static', filename='css/custom-single-use-styles.css') }}" rel="stylesheet" media="screen">
	</head>
	<body>
		{% set active_page = active_page|default('index') -%}
		<div id="wrapper" class="active">

		<!-- Navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container" style="width:auto;padding-right:0px;padding-left:179px">
	        <div class="navbar-header" style="margin-top:10px;margin-bottom:10px; height:30px;float:left;border-right:thin solid #999;"></div>
	        <div class="navbar-header" style="float:left; border-size: 10px;"><!--/ align mixt icon here -->
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" style="margin-left:7px;margin-right:7px;margin-top:-2px;" href="/"><img width="26" src="{{ url_for('static', filename='img/navbar_icon.png') }}"></a>
	        </div>
			<div class="navbar-header" style="margin-top:10px; margin-bottom:10px; width:1px;height:30px;float:left;border-left:thin solid #999;"></div>
			{% if name %}
			<div class="navbar-header" style="margin-top:13px; margin-bottom:10px; margin-left:10px"><font size="4.5px" color="white">{{ name }}</font>
			</div>
			{% endif %}
	        <div class="collapse navbar-collapse pull-right" style="float:right;padding-right:0;">
	          <ul class="nav navbar-nav">
	            {% if not current_user.is_authenticated() %}
				<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
	            	{% if not active_page=='login' %}
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					{% endif %}
				{% else %}
				<li><a href="/add"><span class="glyphicon glyphicon-cloud-upload"></span> Add</a></li>
				<li><a href="/uploads"> My Uploads</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				{% endif %}
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    <!-- End Navbar -->
	    <!-- Sidebar -->
	    <div id="sidebar-wrapper">
	        <ul class="sidebar-nav" id="sidebar">     
	          <li><a href="/genre/blues">Blues</a></li>
	          <li><a href="/genre/country">Country</a></li>
	          <li><a href="/genre/dubstep">Dubstep</a></li>
	          <li><a href="/genre/electronic">Electronic</a></li>
	          <li><a href="/genre/folk">Folk</a></li>
	          <li><a href="/genre/hiphop">Hiphop</a></li>
	          <li><a href="/genre/house">House</a></li>
	          <li><a href="/genre/jazz">Jazz</a></li>
	          <li><a href="/genre/pop">Pop</a></li>
	          <li><a href="/genre/rap">Rap</a></li>
	          <li><a href="/genre/rock">Rock</a></li>
	          <li><a href="/genre/trance">Trance</a></li>
	          <li><a href="/genre/trap">Trap</a></li>
	          <li><a href="/genre/world-ethnic">World/Ethnic</a></li>
	        </ul>
      	</div>
	    <!-- End Sidebar -->
	    <div class="container" style="width:auto;">
		{% block content %}
		{% endblock %}
		</div>
	
	<!-- Le Javascript -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>